In [1]:
print('hello world') #print() is a function in python
#'hello world' is plain text, that is why it has been written inside '', " "

hello world

In [2]:
print()

In [3]:
# Pinky's Computer
print("Pinky's Computer")

Pinky's Computer

In [4]:
# Comment--> are never executed
#Introducing Variables in Python

x = 10 
y = 20
myName = 'Pinky Sodhi'  #String

print(type(x))

#x is a vaiable and 10 is a value and we are assigning 10 to x using =

<class 'int'>

In [ ]:
print(type(myNa

In [5]:
me))

<class 'str'>

In [6]:
#print the value of x
print(x)

10

In [7]:
x

10

In [8]:
print(y)

20

In [9]:
print(myName)

Pinky Sodhi

In [10]:
z=30
print(z)

NameError: name 'z' is not defined

In [11]:
print(x, y, myName)

10 20 Pinky Sodhi

In [12]:
# My name is Pinky Sodhi
myName = 'Pinky Sodhi'

In [15]:
print('My name is', myName)

My name is Pinky Sodhi